# Importing Data Set

In [1]:
import pandas as pd

In [2]:
main_data=pd.read_csv("dataset.csv")

# Making data clear

In [3]:
re_data=main_data.drop(main_data.columns[[0,1,2,3,4,5,6,7,8,9,10,11,12]], axis=1)

In [4]:
re_data.head()

,ICC_ID,Inning.1,cBalls,Score,Commentary
0,2388,1,0.1,0,"Harmison to Tharanga, no run, feisty start fro..."
1,2388,1,0.2,0,"Harmison to Tharanga, no run, swinging across ..."
2,2388,1,0.3,1w,"Harmison to Tharanga, 1 wide, here we go again..."
3,2388,1,0.3,1w,"Harmison to Tharanga, 1 wide, ... and again. H..."
4,2388,1,0.3,1,"Harmison to Tharanga, 1 run, driven unconvinci..."

# Taking out Bowler and Batsman from commentary part using Split technique.

In [5]:
rr=re_data['Commentary'].str.split(" ",n=3,expand=True)

In [6]:
rr.head()

          0   1          2                                                  3
0  Harmison  to  Tharanga,  no run, feisty start from Harmison, short and ...
1  Harmison  to  Tharanga,  no run, swinging across the left-hander and sa...
2  Harmison  to  Tharanga,   1 wide, here we go again. wide down the leg side
3  Harmison  to  Tharanga,  1 wide, ... and again. Harmison really struggl...
4  Harmison  to  Tharanga,  1 run, driven unconvincingly through the vacan...

In [7]:
data2=rr[0]
data3=rr[2]
data_nw=pd.DataFrame(data2)
data_nw1=pd.DataFrame(data3)

In [8]:
re_data['Bowler']=data_nw
re_data['Batsman']=data_nw1
re_data.head()

,ICC_ID,Inning.1,cBalls,Score,Commentary,Bowler,Batsman
0,2388,1,0.1,0,"Harmison to Tharanga, no run, feisty start fro...",Harmison,"Tharanga,"
1,2388,1,0.2,0,"Harmison to Tharanga, no run, swinging across ...",Harmison,"Tharanga,"
2,2388,1,0.3,1w,"Harmison to Tharanga, 1 wide, here we go again...",Harmison,"Tharanga,"
3,2388,1,0.3,1w,"Harmison to Tharanga, 1 wide, ... and again. H...",Harmison,"Tharanga,"
4,2388,1,0.3,1,"Harmison to Tharanga, 1 run, driven unconvinci...",Harmison,"Tharanga,"

# Calculating Runs of players

In [9]:
#a=re_data.groupby('Batsman')
#a.first()

# # Now there is half name is given in commentary part so we make a csv file of team members and then we do replacement to the original name.

In [10]:
raw_data = pd.read_csv("data.csv", encoding = "ISO-8859-1", low_memory=False)

In [11]:
raw_data.head()

                                      full names      short names       team
0                   Warushavithana Upul Tharanga     W U Tharanga  sri lanka
1                        Sanath Teran Jayasuriya   S T Jayasuriya  sri lanka
2  Denagamage Proboth Mahela de Silva Jayawarden  DPMD Jayawarden  sri lanka
3                  Kumar Chokshanada Sangakkara   K C Sangakkara  sri lanka
4             Tillakaratne Mudiyanselage Dilshan      T M Dilshan  sri lanka

In [249]:

a=raw_data['full names'].tolist() 
b=re_data['Batsman']

In [250]:
res = [] 
for i in re_data['Batsman']: 
    if i not in res: 
        res.append(i)

In [251]:
res

['Tharanga,',
 'Jayasuriya,',
 'Jayawardene,',
 'Sangakkara,',
 'Dilshan,',
 'Arnold,',
 'Maharoof,',
 'Vaas,',
 'Bandara,',
 'Trescothick,',
 'Cook,',
 'Bell,',
 'Strauss,',
 'Dalrymple,',
 'Solanki,',
 'Jones,',
 'Bresnan,',
 'Plunkett,',
 'Ali,',
 'Harmison,']

In [253]:
a[0]

'Warushavithana Upul Tharanga'

# Runs of the players and other features

In [16]:
aa=re_data.groupby('Batsman')
aa.first()

,ICC_ID,Inning.1,cBalls,Score,Commentary,Bowler
Batsman,,,,,,
"Ali,",2388,2,47.2,W,"Fernando to Ali, OUT, Kabir Ali pushes into th...",Fernando
"Arnold,",2388,1,32.5,1,"Plunkett to Arnold, 1 run,",Plunkett
"Bandara,",2388,1,43.6,0,"Plunkett to Bandara, no run, a straight ball t...",Plunkett
"Bell,",2388,2,13.1,0,"Vaas to Bell, no run,",Vaas
"Bresnan,",2388,2,40.1,0,"Malinga to Bresnan, no run,",Malinga
"Cook,",2388,2,0.3,0,"Vaas to Cook, no run,",Vaas
"Dalrymple,",2388,2,28.3,0,"Bandara to Dalrymple, no run,",Bandara
"Dilshan,",2388,1,28.3,0,"Harmison to Dilshan, no run, more steep bounce...",Harmison
"Harmison,",2388,2,47.4,1,"Fernando to Harmison, 1 run, effortlessly driv...",Fernando
"Jayasuriya,",2388,1,0.4,1w,"Harmison to Jayasuriya, 1 wide, way outside of...",Harmison
"Jayawardene,",2388,1,4.6,2,"Harmison to Jayawardene, 2 runs, Clipped off m...",Harmison
"Jones,",2388,2,34.3,1,"Bandara to Jones, 1 run,",Bandara
"Maharoof,",2388,1,35.4,0,"Bell to Maharoof, no run,",Bell
"Plunkett,",2388,2,43.3,1,"Bandara to Plunkett, 1 run, reverse swept with...",Bandara
"Sangakkara,",2388,1,24.6,1,"Dalrymple to Sangakkara, 1 run, off the mark w...",Dalrymple
"Solanki,",2388,2,29.1,0,"Dilshan to Solanki, no run,",Dilshan
"Strauss,",2388,2,14.1,0,"Fernando to Strauss, no run,",Fernando
"Tharanga,",2388,1,0.1,0,"Harmison to Tharanga, no run, feisty start fro...",Harmison
"Trescothick,",2388,2,0.1,0,"Vaas to Trescothick, no run, good shape, bends...",Vaas
"Vaas,",2388,1,36.5,0,"Dalrymple to Vaas, no run, defended outside th...",Dalrymple

# Player_1

In [17]:
# COnverting Batsman partial name to full name.
new_data=re_data.replace(to_replace = res[0], value =a[0])

In [18]:
py1=str(res[0])
py1

'Tharanga,'

In [156]:

player_1=aa.get_group(py1)

In [158]:
single_run_p1=0
double_run_p1=0
thiree_run_p1=0
sixes_p1=0
foures_p1=0
Balls_played_p1=0
for i in player_1['Score']:
    if(i=='1'):
        single_run_p1=single_run_p1+1
    
for i in player_1['Score']:
    if(i=='2'):
        double_run_p1=double_run_p1+1
        
for i in player_1['Score']:
    if(i=='3'):
        thiree_run_p1=thiree_run_p1+1

for i in player_1['Score']:
    if(i=='6'):
        sixes_p1=sixes_p1+1
        
for i in player_1['Score']:
    if(i=='4'):
        foures_p1=foures_p1+1
        
for i in player_1['Score']:
    Balls_played_p1=Balls_played_p1+1

In [21]:
Player_1_bowler = [] 
for i in player_1['Bowler']: 
    if i not in Player_1_bowler: 
        Player_1_bowler.append(i) 
        
Player_1_bowler

['Harmison', 'Ali', 'Bresnan', 'Plunkett', 'Dalrymple', 'Solanki']

In [103]:
Player_inning=player_1['Inning.1'][0]

In [121]:
Player_out_by = [] 
for i in player_1['Bowler']: 
        Player_out_by.append(i) 
        
Player_1_out_by=Player_out_by[len(Player_out_by)-1]

# Player_2

In [24]:
ply2=str(res[1])
ply2

'Jayasuriya,'

In [25]:
# changing partial name to full name.
new_data1=new_data.replace(to_replace = res[1], value =a[1])

In [159]:
player_2=aa.get_group(ply2)
single_run_p2=0
double_run_p2=0
thiree_run_p2=0
sixes_p2=0
foures_p2=0
Balls_played_p2=0
for i in player_2['Score']:
    if(i=='1'):
        single_run_p2=single_run_p2+1
    
for i in player_2['Score']:
    if(i=='2'):
        double_run_p2=double_run_p2+1
        
for i in player_2['Score']:
    if(i=='3'):
        thiree_run_p2=thiree_run_p2+1

for i in player_2['Score']:
    if(i=='6'):
        sixes_p2=sixes_p2+1
        
for i in player_2['Score']:
    if(i=='4'):
        foures_p2=foures_p2+1
        
for i in player_2['Score']:
    Balls_played_p2=Balls_played_p2+1

In [131]:
Player_2_bowler = [] 
for i in player_2['Bowler']: 
    if i not in Player_2_bowler: 
        Player_2_bowler.append(i) 
        
Player_2_bowler

Player_out_by = [] 
for i in player_2['Bowler']: 
        Player_out_by.append(i) 
        
Player_2_out_by=Player_out_by[len(Player_out_by)-1]

In [27]:
player_2.head()

,Bowler,Commentary,ICC_ID,Inning.1,Score,cBalls
5,Harmison,"Harmison to Jayasuriya, 1 wide, way outside of...",2388,1,1w,0.4
6,Harmison,"Harmison to Jayasuriya, no run, better, straig...",2388,1,0,0.4
7,Harmison,"Harmison to Jayasuriya, no run, bouncer, and c...",2388,1,0,0.5
8,Harmison,"Harmison to Jayasuriya, 1 run, good running. D...",2388,1,1,0.6
9,Ali,"Ali to Jayasuriya, FOUR runs, Kabir Ali starts...",2388,1,4,1.1

# Player_3

In [28]:
new_data2=new_data1.replace(to_replace = res[2], value =a[2])

In [29]:
pl3=str(res[2])
pl3

'Jayawardene,'

In [160]:
player_3=aa.get_group(pl3)
single_run_p3=0
double_run_p3=0
thiree_run_p3=0
sixes_p3=0
foures_p3=0
Balls_played_p3=0
for i in player_3['Score']:
    if(i=='1'):
        single_run_p3=single_run_p3+1
    
for i in player_3['Score']:
    if(i=='2'):
        double_run_p3=double_run_p3+1
        
for i in player_3['Score']:
    if(i=='3'):
        thiree_run_p3=thiree_run_p3+1

for i in player_3['Score']:
    if(i=='6'):
        sixes_p3=sixes_p3+1
        
for i in player_3['Score']:
    if(i=='4'):
        foures_p3=foures_p3+1
        
for i in player_3['Score']:
    Balls_played_p3=Balls_played_p3+1

In [161]:
Player_3_bowler = [] 
for i in player_3['Bowler']: 
    if i not in Player_3_bowler: 
        Player_3_bowler.append(i) 
        
Player_3_bowler

Player_out_by = [] 
for i in player_3['Bowler']: 
        Player_out_by.append(i) 
        
Player_3_out_by=Player_out_by[len(Player_out_by)-1]

# Player_4

In [31]:
pl4=str(res[3])
pl4

'Sangakkara,'

In [32]:
new_data3=new_data2.replace(to_replace = res[3], value =a[3])

In [163]:
player_4=aa.get_group(pl4)
single_run_p4=0
double_run_p4=0
thiree_run_p4=0
sixes_p4=0
foures_p4=0
Balls_played_p4=0
for i in player_4['Score']:
    if(i=='1'):
        single_run_p4=single_run_p4+1
    
for i in player_4['Score']:
    if(i=='2'):
        double_run_p4=double_run_p4+1
        
for i in player_4['Score']:
    if(i=='3'):
        thiree_run_p4=thiree_run_p4+1

for i in player_4['Score']:
    if(i=='6'):
        sixes_p4=sixes_p4+1
        
for i in player_4['Score']:
    if(i=='4'):
        foures_p4=foures_p4+1
        
for i in player_4['Score']:
    Balls_played_p4=Balls_played_p4+1

In [164]:
Player_4_bowler = [] 
for i in player_4['Bowler']: 
    if i not in Player_4_bowler: 
        Player_4_bowler.append(i) 
        
Player_4_bowler

Player_out_by = [] 
for i in player_4['Bowler']: 
        Player_out_by.append(i) 
        
Player_4_out_by=Player_out_by[len(Player_out_by)-1]

In [165]:
ply5=str(res[4])
ply5

'Dilshan,'

# Player_5

In [35]:
new_data4=new_data3.replace(to_replace = res[4], value =a[4])

In [166]:
player_5=aa.get_group(ply5)
single_run_p5=0
double_run_p5=0
thiree_run_p5=0
sixes_p5=0
foures_p5=0
Balls_played_p5=0
for i in player_5['Score']:
    if(i=='1'):
        single_run_p5=single_run_p5+1
    
for i in player_5['Score']:
    if(i=='2'):
        double_run_p5=double_run_p5+1
        
for i in player_5['Score']:
    if(i=='3'):
        thiree_run_p5=thiree_run_p5+1

for i in player_5['Score']:
    if(i=='6'):
        sixes_p5=sixes_p5+1
        
for i in player_5['Score']:
    if(i=='4'):
        foures_p5=foures_p5+1
        
for i in player_5['Score']:
    Balls_played_p5=Balls_played_p5+1

In [167]:
Player_5_bowler = [] 
for i in player_5['Bowler']: 
    if i not in Player_5_bowler: 
        Player_5_bowler.append(i) 
        
Player_5_bowler

Player_out_by = [] 
for i in player_5['Bowler']: 
        Player_out_by.append(i) 
        
Player_5_out_by=Player_out_by[len(Player_out_by)-1]

In [171]:
Balls_played_p5

11

# Player_6

In [38]:
ply6=str(res[5])
ply6

'Arnold,'

In [39]:
new_data5=new_data4.replace(to_replace = res[5], value =a[5])

In [172]:
player_6=aa.get_group(ply6)
single_run_p6=0
double_run_p6=0
thiree_run_p6=0
sixes_p6=0
foures_p6=0
Balls_played_p6=0
for i in player_6['Score']:
    if(i=='1'):
        single_run_p6=single_run_p6+1
    
for i in player_6['Score']:
    if(i=='2'):
        double_run_p6=double_run_p6+1
        
for i in player_6['Score']:
    if(i=='3'):
        thiree_run_p6=thiree_run_p6+1

for i in player_6['Score']:
    if(i=='6'):
        sixes_p6=sixes_p6+1
        
for i in player_6['Score']:
    if(i=='4'):
        foures_p6=foures_p6+1
        
for i in player_6['Score']:
    Balls_played_p6=Balls_played_p6+1

In [174]:
Player_6_bowler = [] 
for i in player_6['Bowler']: 
    if i not in Player_6_bowler: 
        Player_6_bowler.append(i) 
        
Player_6_bowler

Player_out_by = [] 
for i in player_6['Bowler']: 
        Player_out_by.append(i) 
        
Player_6_out_by=Player_out_by[len(Player_out_by)-1]

In [173]:
Balls_played_p6

8

# Player_7

In [42]:
ply7=str(res[6])
ply7

'Maharoof,'

In [43]:
new_data6=new_data5.replace(to_replace = res[6], value =a[6])

In [175]:
player_7=aa.get_group(ply7)
single_run_p7=0
double_run_p7=0
thiree_run_p7=0
sixes_p7=0
foures_p7=0
Balls_played_p7=0
for i in player_7['Score']:
    if(i=='1'):
        single_run_p7=single_run_p7+1
    
for i in player_7['Score']:
    if(i=='2'):
        double_run_p7=double_run_p7+1
        
for i in player_7['Score']:
    if(i=='3'):
        thiree_run_p7=thiree_run_p7+1

for i in player_7['Score']:
    if(i=='6'):
        sixes_p7=sixes_p7+1
        
for i in player_7['Score']:
    if(i=='4'):
        foures_p7=foures_p7+1
        
for i in player_7['Score']:
    Balls_played_p7=Balls_played_p7+1

In [176]:
Player_7_bowler = [] 
for i in player_7['Bowler']: 
    if i not in Player_7_bowler: 
        Player_7_bowler.append(i) 
        
Player_7_bowler

Player_out_by = [] 
for i in player_7['Bowler']: 
        Player_out_by.append(i) 
        
Player_7_out_by=Player_out_by[len(Player_out_by)-1]

In [177]:
Balls_played_p7

52

# Player_8

In [46]:
ply8=str(res[7])
ply8

'Vaas,'

In [47]:
new_data7=new_data6.replace(to_replace = res[7], value =a[7])

In [178]:
player_8=aa.get_group(ply8)
single_run_p8=0
double_run_p8=0
thiree_run_p8=0
sixes_p8=0
foures_p8=0
Balls_played_p8=0
for i in player_8['Score']:
    if(i=='1'):
        single_run_p8=single_run_p8+1
    
for i in player_8['Score']:
    if(i=='2'):
        double_run_p8=double_run_p8+1
        
for i in player_8['Score']:
    if(i=='3'):
        thiree_run_p8=thiree_run_p8+1

for i in player_8['Score']:
    if(i=='6'):
        sixes_p8=sixes_p8+1
        
for i in player_8['Score']:
    if(i=='4'):
        foures_p8=foures_p8+1
        
for i in player_8['Score']:
    Balls_played_p8=Balls_played_p8+1

In [179]:
Player_8_bowler = [] 
for i in player_8['Bowler']: 
    if i not in Player_8_bowler: 
        Player_8_bowler.append(i) 
        
Player_8_bowler

Player_out_by = [] 
for i in player_8['Bowler']: 
        Player_out_by.append(i) 
        
Player_8_out_by=Player_out_by[len(Player_out_by)-1]

In [180]:
Balls_played_p8

16

# Player_9

In [50]:
ply9=str(res[8])
ply9

'Bandara,'

In [51]:
new_data8=new_data7.replace(to_replace = res[8], value =a[8])

In [182]:
player_9=aa.get_group(ply9)
single_run_p9=0
double_run_p9=0
thiree_run_p9=0
sixes_p9=0
foures_p9=0
Balls_played_p9=0
for i in player_9['Score']:
    if(i=='1'):
        single_run_p9=single_run_p9+1
    
for i in player_9['Score']:
    if(i=='2'):
        double_run_p9=double_run_p9+1
        
for i in player_9['Score']:
    if(i=='3'):
        thiree_run_p9=thiree_run_p9+1

for i in player_9['Score']:
    if(i=='6'):
        sixes_p9=sixes_p9+1
        
for i in player_9['Score']:
    if(i=='4'):
        foures_p9=foures_p9+1
        
for i in player_9['Score']:
    Balls_played_p9=Balls_played_p9+1

In [183]:
Player_9_bowler = [] 
for i in player_9['Bowler']: 
    if i not in Player_9_bowler: 
        Player_9_bowler.append(i) 
        
Player_9_bowler

Player_out_by = [] 
for i in player_9['Bowler']: 
        Player_out_by.append(i) 
        
Player_9_out_by=Player_out_by[len(Player_out_by)-1]

In [184]:
Balls_played_p9

23

# Player_10

In [54]:
ply10=str(res[9])
ply10

'Trescothick,'

In [55]:
new_data9=new_data8.replace(to_replace = res[9], value =a[9])

In [185]:
player_10=aa.get_group(ply10)
single_run_p10=0
double_run_p10=0
thiree_run_p10=0
sixes_p10=0
foures_p10=0
Balls_played_p10=0
for i in player_10['Score']:
    if(i=='1'):
        single_run_p10=single_run_p10+1
    
for i in player_10['Score']:
    if(i=='2'):
        double_run_p10=double_run_p10+1
        
for i in player_10['Score']:
    if(i=='3'):
        thiree_run_p10=thiree_run_p10+1

for i in player_10['Score']:
    if(i=='6'):
        sixes_p10=sixes_p10+1
        
for i in player_10['Score']:
    if(i=='4'):
        foures_p10=foures_p10+1
        
for i in player_10['Score']:
    Balls_played_p10=Balls_played_p10+1

In [186]:
Player_10_bowler = [] 
for i in player_10['Bowler']: 
    if i not in Player_10_bowler: 
        Player_10_bowler.append(i) 
        
Player_10_bowler

Player_out_by = [] 
for i in player_10['Bowler']: 
        Player_out_by.append(i) 
        
Player_10_out_by=Player_out_by[len(Player_out_by)-1]

In [187]:
Balls_played_p10

41

# Player_11

In [58]:
ply11=str(res[10])
ply11

'Cook,'

In [59]:
new_data10=new_data9.replace(to_replace = res[10], value =a[10])

In [189]:
player_11=aa.get_group(ply11)
single_run_p11=0
double_run_p11=0
thiree_run_p11=0
sixes_p11=0
foures_p11=0
Balls_played_p11=0
for i in player_11['Score']:
    if(i=='1'):
        single_run_p11=single_run_p11+1
    
for i in player_11['Score']:
    if(i=='2'):
        double_run_p11=double_run_p11+1
        
for i in player_11['Score']:
    if(i=='3'):
        thiree_run_p11=thiree_run_p11+1

for i in player_11['Score']:
    if(i=='6'):
        sixes_p11=sixes_p11+1
        
for i in player_11['Score']:
    if(i=='4'):
        foures_p11=foures_p11+1
        
for i in player_11['Score']:
    Balls_played_p11=Balls_played_p11+1

In [190]:
Player_11_bowler = [] 
for i in player_11['Bowler']: 
    if i not in Player_11_bowler: 
        Player_11_bowler.append(i) 
        
Player_11_bowler

Player_out_by = [] 
for i in player_11['Bowler']: 
        Player_out_by.append(i) 
        
Player_11_out_by=Player_out_by[len(Player_out_by)-1]

In [191]:
Balls_played_p11

39

# Player_12

In [62]:
ply12=str(res[11])
ply12

'Bell,'

In [63]:
new_data11=new_data10.replace(to_replace = res[11], value =a[11])

In [195]:
player_12=aa.get_group(ply12)
single_run_p12=0
double_run_p12=0
thiree_run_p12=0
sixes_p12=0
foures_p12=0
Balls_played_p12=0
for i in player_12['Score']:
    if(i=='1'):
        single_run_p12=single_run_p12+1
    
for i in player_12['Score']:
    if(i=='2'):
        double_run_p12=double_run_p12+1
        
for i in player_12['Score']:
    if(i=='3'):
        thiree_run_p12=thiree_run_p12+1

for i in player_12['Score']:
    if(i=='6'):
        sixes_p12=sixes_p12+1
        
for i in player_12['Score']:
    if(i=='4'):
        foures_p12=foures_p12+1
        
for i in player_12['Score']:
    Balls_played_p12=Balls_played_p12+1

In [193]:
Player_12_bowler = [] 
for i in player_12['Bowler']: 
    if i not in Player_12_bowler: 
        Player_12_bowler.append(i) 
        
Player_12_bowler

Player_out_by = [] 
for i in player_12['Bowler']: 
        Player_out_by.append(i) 
        
Player_12_out_by=Player_out_by[len(Player_out_by)-1]

In [196]:
Balls_played_p12

48

# Player_13

In [66]:
ply13=str(res[12])
ply13

'Strauss,'

In [67]:
new_data12=new_data11.replace(to_replace = res[12], value =a[12])

In [202]:
player_13=aa.get_group(ply13)
single_run_p13=0
double_run_p13=0
thiree_run_p13=0
sixes_p13=0
foures_p13=0
Balls_played_p13=0
for i in player_13['Score']:
    if(i=='1'):
        single_run_p13=single_run_p13+1
    
for i in player_13['Score']:
    if(i=='2'):
        double_run_p13=double_run_p13+1
        
for i in player_13['Score']:
    if(i=='3'):
        thiree_run_p13=thiree_run_p13+1

for i in player_13['Score']:
    if(i=='6'):
        sixes_p13=sixes_p13+1
        
for i in player_13['Score']:
    if(i=='4'):
        foures_p13=foures_p13+1
        
for i in player_13['Score']:
    Balls_played_p13=Balls_played_p13+1

In [203]:
Player_13_bowler = [] 
for i in player_13['Bowler']: 
    if i not in Player_13_bowler: 
        Player_13_bowler.append(i) 
        
Player_13_bowler

Player_out_by = [] 
for i in player_13['Bowler']: 
        Player_out_by.append(i) 
        
Player_13_out_by=Player_out_by[len(Player_out_by)-1]

In [207]:
Balls_played_p13

44

# Player_14

In [70]:
ply14=str(res[13])
ply14

'Dalrymple,'

In [71]:
new_data13=new_data12.replace(to_replace = res[13], value =a[13])

In [208]:
player_14=aa.get_group(ply14)
single_run_p14=0
double_run_p14=0
thiree_run_p14=0
sixes_p14=0
foures_p14=0
Balls_played_p14=0
for i in player_14['Score']:
    if(i=='1'):
        single_run_p14=single_run_p14+1
    
for i in player_14['Score']:
    if(i=='2'):
        double_run_p14=double_run_p14+1
        
for i in player_14['Score']:
    if(i=='3'):
        thiree_run_p14=thiree_run_p14+1

for i in player_14['Score']:
    if(i=='6'):
        sixes_p14=sixes_p14+1
        
for i in player_14['Score']:
    if(i=='4'):
        foures_p14=foures_p14+1
        
for i in player_14['Score']:
    Balls_played_p14=Balls_played_p14+1

In [209]:
Player_14_bowler = [] 
for i in player_14['Bowler']: 
    if i not in Player_14_bowler: 
        Player_14_bowler.append(i) 
        
Player_14_bowler

Player_out_by = [] 
for i in player_14['Bowler']: 
        Player_out_by.append(i) 
        
Player_14_out_by=Player_out_by[len(Player_out_by)-1]

In [212]:
Balls_played_p14

51

# Player_15

In [74]:
ply15=str(res[14])
ply15

'Solanki,'

In [75]:
new_data14=new_data13.replace(to_replace = res[14], value =a[14])

In [213]:
player_15=aa.get_group(ply15)
single_run_p15=0
double_run_p15=0
thiree_run_p15=0
sixes_p15=0
foures_p15=0
Balls_played_p15=0
for i in player_15['Score']:
    if(i=='1'):
        single_run_p15=single_run_p15+1
    
for i in player_15['Score']:
    if(i=='2'):
        double_run_p15=double_run_p15+1
        
for i in player_15['Score']:
    if(i=='3'):
        thiree_run_p15=thiree_run_p15+1

for i in player_15['Score']:
    if(i=='6'):
        sixes_p15=sixes_p15+1
        
for i in player_15['Score']:
    if(i=='4'):
        foures_p15=foures_p15+1
        
for i in player_15['Score']:
    Balls_played_p15=Balls_played_p15+1

In [214]:
Player_15_bowler = [] 
for i in player_15['Bowler']: 
    if i not in Player_15_bowler: 
        Player_15_bowler.append(i) 
        
Player_15_bowler

Player_out_by = [] 
for i in player_15['Bowler']: 
        Player_out_by.append(i) 
        
Player_15_out_by=Player_out_by[len(Player_out_by)-1]

In [215]:
Balls_played_p15

18

# Player_16

In [78]:
ply16=str(res[15])
ply16

'Jones,'

In [79]:
new_data15=new_data14.replace(to_replace = res[15], value =a[15])

In [216]:
player_16=aa.get_group(ply16)
single_run_p16=0
double_run_p16=0
thiree_run_p16=0
sixes_p16=0
foures_p16=0
Balls_played_p16=0
for i in player_16['Score']:
    if(i=='1'):
        single_run_p16=single_run_p16+1
    
for i in player_16['Score']:
    if(i=='2'):
        double_run_p16=double_run_p16+1
        
for i in player_16['Score']:
    if(i=='3'):
        thiree_run_p16=thiree_run_p16+1

for i in player_16['Score']:
    if(i=='6'):
        sixes_p16=sixes_p16+1
        
for i in player_16['Score']:
    if(i=='4'):
        foures_p16=foures_p16+1
        
for i in player_16['Score']:
    Balls_played_p16=Balls_played_p16+1

In [217]:
Player_16_bowler = [] 
for i in player_16['Bowler']: 
    if i not in Player_16_bowler: 
        Player_16_bowler.append(i) 
        
Player_16_bowler

Player_out_by = [] 
for i in player_16['Bowler']: 
        Player_out_by.append(i) 
        
Player_16_out_by=Player_out_by[len(Player_out_by)-1]

In [218]:
Balls_played_p16

20

# Player_17

In [82]:
ply17=str(res[16])
ply17

'Bresnan,'

In [83]:
new_data16=new_data15.replace(to_replace = res[16], value =a[16])

In [219]:
player_17=aa.get_group(ply17)
single_run_p17=0
double_run_p17=0
thiree_run_p17=0
sixes_p17=0
foures_p17=0
Balls_played_p17=0
for i in player_17['Score']:
    if(i=='1'):
        single_run_p17=single_run_p17+1
    
for i in player_17['Score']:
    if(i=='2'):
        double_run_p17=double_run_p17+1
        
for i in player_17['Score']:
    if(i=='3'):
        thiree_run_p17=thiree_run_p17+1

for i in player_17['Score']:
    if(i=='6'):
        sixes_p17=sixes_p17+1
        
for i in player_17['Score']:
    if(i=='4'):
        foures_p17=foures_p17+1
        
for i in player_17['Score']:
    Balls_played_p17=Balls_played_p17+1

In [220]:
Player_17_bowler = [] 
for i in player_17['Bowler']: 
    if i not in Player_17_bowler: 
        Player_17_bowler.append(i) 
        
Player_17_bowler

Player_out_by = [] 
for i in player_17['Bowler']: 
        Player_out_by.append(i) 
        
Player_17_out_by=Player_out_by[len(Player_out_by)-1]

In [221]:
Balls_played_p17

13

# Player_18

In [86]:
ply18=str(res[17])
ply18

'Plunkett,'

In [87]:
new_data17=new_data16.replace(to_replace = res[17], value =a[17])

In [222]:
player_18=aa.get_group(ply18)
single_run_p18=0
double_run_p18=0
thiree_run_p18=0
sixes_p18=0
foures_p18=0
Balls_played_p18=0
for i in player_18['Score']:
    if(i=='1'):
        single_run_p18=single_run_p18+1
    
for i in player_18['Score']:
    if(i=='2'):
        double_run_p18=double_run_p18+1
        
for i in player_18['Score']:
    if(i=='3'):
        thiree_run_p18=thiree_run_p18+1

for i in player_18['Score']:
    if(i=='6'):
        sixes_p18=sixes_p18+1
        
for i in player_18['Score']:
    if(i=='4'):
        foures_p18=foures_p18+1
        
for i in player_18['Score']:
    Balls_played_p18=Balls_played_p18+1

In [223]:
Player_18_bowler = [] 
for i in player_18['Bowler']: 
    if i not in Player_18_bowler: 
        Player_18_bowler.append(i) 
        
Player_18_bowler

Player_out_by = [] 
for i in player_18['Bowler']: 
        Player_out_by.append(i) 
        
Player_18_out_by=Player_out_by[len(Player_out_by)-1]

In [224]:
Balls_played_p18

18

# Player_19

In [90]:
ply19=str(res[18])
ply19

'Ali,'

In [91]:
new_data18=new_data17.replace(to_replace = res[18], value =a[18])

In [225]:
player_19=aa.get_group(ply19)
single_run_p19=0
double_run_p19=0
thiree_run_p19=0
sixes_p19=0
foures_p19=0
Balls_played_p19=0
for i in player_19['Score']:
    if(i=='1'):
        single_run_p19=single_run_p19+1
    
for i in player_19['Score']:
    if(i=='2'):
        double_run_p19=double_run_p19+1
        
for i in player_19['Score']:
    if(i=='3'):
        thiree_run_p19=thiree_run_p19+1

for i in player_19['Score']:
    if(i=='6'):
        sixes_p19=sixes_p19+1
        
for i in player_19['Score']:
    if(i=='4'):
        foures_p19=foures_p19+1
        
for i in player_19['Score']:
    Balls_played_p19=Balls_played_p19+1

In [226]:
Player_19_bowler = [] 
for i in player_19['Bowler']: 
    if i not in Player_19_bowler: 
        Player_19_bowler.append(i) 
        
Player_19_bowler

Player_out_by = [] 
for i in player_19['Bowler']: 
        Player_out_by.append(i) 
        
Player_19_out_by=Player_out_by[len(Player_out_by)-1]

In [227]:
Balls_played_p19

1

# Player_20

In [94]:
ply20=str(res[19])
ply20

'Harmison,'

In [95]:
new_data19=new_data18.replace(to_replace = res[18], value =a[18])

In [230]:
player_20=aa.get_group(ply20)
single_run_p20=0
double_run_p20=0
thiree_run_p20=0
sixes_p20=0
foures_p20=0
Balls_played_p20=0
for i in player_20['Score']:
    if(i=='1'):
        single_run_p20=single_run_p20+1
    
for i in player_20['Score']:
    if(i=='2'):
        double_run_p20=double_run_p20+1
        
for i in player_20['Score']:
    if(i=='3'):
        thiree_run_p20=thiree_run_p20+1

for i in player_20['Score']:
    if(i=='6'):
        sixes_p20=sixes_p20+1
        
for i in player_20['Score']:
    if(i=='4'):
        foures_p20=foures_p20+1
        
for i in player_20['Score']:
    Balls_played_p20=Balls_played_p20+1

In [229]:
Player_20_bowler = [] 
for i in player_20['Bowler']: 
    if i not in Player_20_bowler: 
        Player_20_bowler.append(i) 
        
Player_20_bowler

Player_out_by = [] 
for i in player_20['Bowler']: 
        Player_out_by.append(i) 
        
Player_20_out_by=Player_out_by[len(Player_out_by)-1]

# Player_21

# All Factors/ features in player_21 are null in Bating respectively.

# Player_22

# All Factors/ features in player_21 are null in Bating respectively.

# Now Merging all things to make Final score card of the Batsman repectively.

In [239]:
l=[single_run_p1,double_run_p1,thiree_run_p1,sixes,foures_p1,Balls_played_p1]
l

[24, 5, 2, 0, 5, 86]

In [288]:
p0=pd.DataFrame([single_run_p1,double_run_p1,thiree_run_p1,sixes_p1,foures_p1,Balls_played_p1,Player_1_out_by,Player_1_bowler],columns=[a[0]])
p1=pd.DataFrame([single_run_p2,double_run_p2,thiree_run_p2,sixes_p2,foures_p2,Balls_played_p2,Player_2_out_by,Player_2_bowler],columns=[a[1]])
p2=pd.DataFrame([single_run_p3,double_run_p3,thiree_run_p3,sixes_p3,foures_p3,Balls_played_p3,Player_3_out_by,Player_3_bowler],columns=[a[2]])
p3=pd.DataFrame([single_run_p4,double_run_p4,thiree_run_p4,sixes_p4,foures_p4,Balls_played_p4,Player_4_out_by,Player_4_bowler],columns=[a[3]])
p4=pd.DataFrame([single_run_p5,double_run_p5,thiree_run_p5,sixes_p5,foures_p5,Balls_played_p5,Player_5_out_by,Player_5_bowler],columns=[a[4]])
p5=pd.DataFrame([single_run_p6,double_run_p6,thiree_run_p6,sixes_p6,foures_p6,Balls_played_p6,Player_6_out_by,Player_6_bowler],columns=[a[5]])
p6=pd.DataFrame([single_run_p7,double_run_p7,thiree_run_p7,sixes_p7,foures_p7,Balls_played_p7,Player_7_out_by,Player_7_bowler],columns=[a[6]])
p7=pd.DataFrame([single_run_p8,double_run_p8,thiree_run_p8,sixes_p8,foures_p8,Balls_played_p8,Player_8_out_by,Player_8_bowler],columns=[a[7]])
p8=pd.DataFrame([single_run_p9,double_run_p9,thiree_run_p9,sixes_p9,foures_p9,Balls_played_p9,Player_9_out_by,Player_9_bowler],columns=[a[8]])
p9=pd.DataFrame([single_run_p10,double_run_p10,thiree_run_p10,sixes_p10,foures_p10,Balls_played_p10,Player_10_out_by,Player_10_bowler],columns=[a[9]])
p10=pd.DataFrame([single_run_p11,double_run_p11,thiree_run_p11,sixes_p11,foures_p11,Balls_played_p11,Player_11_out_by,Player_11_bowler],columns=[a[10]])
p11=pd.DataFrame([single_run_p12,double_run_p12,thiree_run_p12,sixes_p12,foures_p12,Balls_played_p12,Player_12_out_by,Player_12_bowler],columns=[a[11]])
p12=pd.DataFrame([single_run_p13,double_run_p13,thiree_run_p13,sixes_p13,foures_p13,Balls_played_p13,Player_13_out_by,Player_13_bowler],columns=[a[12]])
p13=pd.DataFrame([single_run_p14,double_run_p14,thiree_run_p14,sixes_p14,foures_p14,Balls_played_p14,Player_14_out_by,Player_14_bowler],columns=[a[13]])
p14=pd.DataFrame([single_run_p15,double_run_p15,thiree_run_p15,sixes_p15,foures_p15,Balls_played_p15,Player_15_out_by,Player_15_bowler],columns=[a[14]])
p15=pd.DataFrame([single_run_p16,double_run_p16,thiree_run_p16,sixes_p16,foures_p16,Balls_played_p16,Player_16_out_by,Player_16_bowler],columns=[a[15]])
p16=pd.DataFrame([single_run_p17,double_run_p17,thiree_run_p17,sixes_p17,foures_p17,Balls_played_p17,Player_17_out_by,Player_17_bowler],columns=[a[16]])
p17=pd.DataFrame([single_run_p18,double_run_p18,thiree_run_p18,sixes_p18,foures_p18,Balls_played_p18,Player_18_out_by,Player_18_bowler],columns=[a[17]])
p18=pd.DataFrame([single_run_p19,double_run_p19,thiree_run_p19,sixes_p19,foures_p19,Balls_played_p19,Player_19_out_by,Player_19_bowler],columns=[a[18]])
p19=pd.DataFrame([single_run_p20,double_run_p20,thiree_run_p20,sixes_p20,foures_p20,Balls_played_p20,Player_20_out_by,Player_20_bowler],columns=[a[19]])

In [289]:
index_ = ['Single_run', 'Double_run', 'Thriee run', 'four runs', 'Sixes run','Balls_played','Bowled_out_by','Bowlers name']

In [290]:
p0.index=index_
p1.index=index_
p2.index=index_
p3.index=index_
p4.index=index_
p5.index=index_
p6.index=index_
p7.index=index_
p8.index=index_
p9.index=index_
p10.index=index_
p11.index=index_
p12.index=index_
p13.index=index_
p14.index=index_
p15.index=index_
p16.index=index_
p17.index=index_
p18.index=index_
p19.index=index_

In [291]:
pdList = [p0,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,p17,p18,p19]  
new_df1 = pd.concat(pdList,axis=1)

# FINAL_SCORECARD

In [292]:
new_df1

,Warushavithana Upul Tharanga,Sanath Teran Jayasuriya,Denagamage Proboth Mahela de Silva Jayawarden,Kumar Chokshanada Sangakkara,Tillakaratne Mudiyanselage Dilshan,Russel Premakumaran Arnold,Mohamed Farveez Maharoof,Warnakulasuriya Patabendige Ushantha Joseph Chaminda Vaas,Herath Mudiyanselage Charitha Malinga Bandara,Marcus Edward Trescothick,Alastair Nathan Cook,Ian Ronald Bell,Andrew John Strauss,James William Murray Dalrymple,Vikram Singh Solanki,Geraint Owen Jones,Timothy Thomas Bresnan,Liam Edward Plunkett,Kabir Ali,Stephen James Harmison
Single_run,24,2,31,4,3,4,21,7,7,10,7,18,15,21,8,7,4,9,0,2
Double_run,5,0,15,1,0,0,2,0,0,0,0,4,5,4,1,3,3,2,0,0
Thriee run,2,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0
four runs,0,0,0,0,0,0,2,0,1,1,0,0,0,0,0,1,0,2,0,0
Sixes run,5,3,9,0,1,0,5,0,3,7,8,1,5,1,0,1,2,1,0,0
Balls_played,86,21,88,15,11,8,52,16,23,41,39,48,44,51,18,20,13,18,1,4
Bowled_out_by,Bell,Harmison,Dalrymple,Harmison,Plunkett,Bell,Ali,Plunkett,Ali,Malinga,Fernando,Bandara,Dilshan,Fernando,Bandara,Dilshan,Malinga,Malinga,Fernando,Malinga
Bowlers name,"[Harmison, Ali, Bresnan, Plunkett, Dalrymple, ...","[Harmison, Ali]","[Harmison, Plunkett, Bresnan, Dalrymple, Solan...","[Dalrymple, Ali, Harmison]","[Harmison, Plunkett, Ali]","[Plunkett, Bell, Dalrymple]","[Bell, Dalrymple, Bresnan, Plunkett, Harmison,...","[Dalrymple, Bresnan, Plunkett]","[Plunkett, Bresnan, Harmison, Ali]","[Vaas, Malinga, Fernando]","[Vaas, Malinga, Fernando]","[Vaas, Fernando, Maharoof, Bandara, Dilshan]","[Fernando, Vaas, Maharoof, Bandara, Dilshan]","[Bandara, Dilshan, Jayasuriya, Malinga, Fernando]","[Dilshan, Bandara]","[Bandara, Dilshan, Jayasuriya]","[Malinga, Bandara]","[Bandara, Jayasuriya, Fernando, Malinga]",[Fernando],"[Fernando, Malinga]"